# OJ problem testcases
data/problems/

.cph
uuk_oj.sql
src/uuk-judger/rootfs
workspace

bin/
*.exe
*.out
*.o
*.a
*.so
*.dylib

.vscode/
.idea/
.cph/
*.swp
.DS_Store

temp
temp.cpp
*.log
test_result/

frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-error.log*

build
submit.lua
